transcript
c5_pin_model_dump.txt
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.qsf
*.qpf
*.bak
work/
db/
incremental_db/
simulation/
output_files/

/*/work
/*/db
/*/incremental_db
/*/output_files
/*/c5_pin_model_dump.txt
/*/*.qpf
/*/*.qsf
/*/*.bak
/*/*.mti
/*/*.mpf
/*/*.wlf
/*/*.qws
.vscode/
/wlfts0m4gb